.categoryHeader {
  text-transform: capitalize;
}

.sidePanelHeader {
    color: rgb(219, 219, 219);
    font-weight: 300;
    font-size: 2rem;
}

.itemTitle {
    font-size: 24px;
}

.itemImg {
    width: 350px;
    height: 350px;
}

.item:hover {
    opacity: 0.7;
    cursor: pointer;
    margin-top: 10px;
}