.App {
  text-align: center;
  background-color: black;
  min-height: 100vh;
  color: white;
}

.container-fluid {
  height: 100%;
  overflow-y: hidden; /* don't show content that exceeds my height */
}

.bold {
  font-weight: 600;
}

.h5 {
  font-size: 0.9rem;
  font-weight: 400;
}

.h3 {
  font-weight: 200;
}

.h4 {
  font-weight: 300;
}

.btn-outline-primary {
  border-color: white;
  color: white;
}

.btn-outline-warning.focus,
.btn-outline-warning:focus {
  box-shadow: none;
}

#main-banner-content {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  height: 72.5vh;
}

#home-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: cover;
  height: 100%;
  width: 100%;
  opacity: 0.25;
}

#sbsc-logo {
  position: absolute;
  bottom: 0px;
  right: 0px;
  height: 25%;
  width: 25%;
  object-fit: contain;
  border-radius: 50%;
}

#home-content {
  position: absolute;
  top: 0px;
  left: 0px;
  margin-top: 25vh;
  z-index: 2;
  font-size: clamp(1.5rem, 1.5vw, 2rem);
}

.card-img {
  height: 100%;
  width: 100%;
  border-top: 5px black;
  border-right: 5px black;
  border-bottom: 5px black;
}

.card-title {
  font-size: clamp(1.75rem, 2.5vw, 3rem);
}

.card-description {
  font-size: clamp(1rem, 1vw, 1.5rem);
}

.map-container {
  height: 30vh;
  width: 70%;
}

/* MEDIA QUERIES */

@media screen and (min-width: 769px) {
  .h1 {
    font-size: clamp(3.5rem, 3vw, 5rem);
  }
  #home-bg {
    object-position: 0% 27.5%;
  }
  #home-content {
    left: 10vw;
  }
}

/* Define how SqPaymentForm iframes should look */
.sq-input {
  height: 56px;
  box-sizing: border-box;
  border: 1px solid #e0e2e3;
  background-color: white;
  border-radius: 6px;
  display: inline-block;
  -webkit-transition: border-color 0.2s ease-in-out;
  -moz-transition: border-color 0.2s ease-in-out;
  -ms-transition: border-color 0.2s ease-in-out;
  transition: border-color 0.2s ease-in-out;
}

/* Define how SqPaymentForm iframes should look when they have focus */
.sq-input--focus {
  border: 1px solid #4a90e2;
}

/* Define how SqPaymentForm iframes should look when they contain invalid values */
.sq-input--error {
  border: 1px solid #e02f2f;
}

#sq-card-number {
  margin-bottom: 16px;
}

/* Customize the "Pay with Credit Card" button */
.button-credit-card {
  width: 100%;
  height: 56px;
  margin-top: 10px;
  background: #4a90e2;
  border-radius: 6px;
  cursor: pointer;
  display: block;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  letter-spacing: 0;
  text-align: center;
  -webkit-transition: background 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out;
  transition: background 0.2s ease-in-out;
}

.button-credit-card:hover {
  background-color: #4281cb;
}

.spinner {
  transform: scale(10);
  margin-top: 25%;
}
